<html>
  <head>
    <title>DSE Statistics</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DSE Statistics</h1>
    <p><a href="amChart.html">DSE (3322) Passing Rate (amChart)</a></p>
    <p><a href="d3Chart.html">DSE Grade Distribution Per Subject (d3Chart)</a></p>
  </body>
</html>
